.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.movie-item {
  width: calc(20% - 20px);
  margin: 20px 10px;
  text-align: center;
}

.movie-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.movie-details {

  margin-top: 10px;
  font-size: 14px;
  
  
}
.movie-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
.back-btn{
  background-color: teal;


}
.heading{

  color: blue;
}



/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: calc(20% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.card-content {
  padding: 20px;
  text-align: left;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.card-content p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
} */
